# Ignore all logfiles and tempfiles.
/log/*
/logs/*
/allure-report/*
/tmp/*
!/log/.keep
!/tmp/.keep
/report
/errors
.DS_Store
.byebug_history
.ssh
.docker-sync
.vagrant
.svn
.idea
.yarnrc
.tags
.env
.vscode/settings.json
.*.sw?
*.tar.gz
*.pid

__pycache__
*.py[cod]
*$py.class
*.cover
.venv
venv
env.py
geckodriver.log
